    <!-- ============================================================= MAIN ============================================================= -->
    
<main>
      
      <!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

<section id="portfolio">
        
        <div class="container inner">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1 class="home-font-color">My Favorites</h1>
                <p class="home-font-color">“Genius is not replicable. Inspiration, though, is contagious, and multiform- and even just to see, close up, power and aggression made vulnerable to beauty is to feel inspired and (in a fleeting, mortal way) reconciled.” David Foster Wallace
                </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
        
        <div class="container inner-bottom">
          <div class="row">
            <div class="col-sm-12 portfolio">
              
              <ul class="filter text-center">
                <li><a href="#" data-filter=".fashion">Fashion</a></li>
                <li><a href="#" data-filter=".beauty">Beauty</a></li>
                <li><a href="#" data-filter=".aesthetic">Aesthetic</a></li>
                <li><a href="#" data-filter=".bad-ass-women">BA Women</a></li>
                <li><a href="#" data-filter=".finance">Finance</a></li>
                <li><a href="#" data-filter=".self-improvement">Self-Improvement</a></li>
                <li><a href="#" data-filter=".inspiration">Inspiration</a></li>
                <li><a href="#" data-filter=".travel">Travel</a></li>
                <li><a href="#" data-filter=".career">Career</a></li>
                <li><a href="#" data-filter=".food">Food</a></li>
                <li><a href="#" data-filter=".lifestyle">Lifestyle</a></li>
                <li><a href="#" data-filter="*" class="Fashion">All</a></li>
              </ul><!-- /.filter -->
              
              <ul class="isotope items col-3">
                <% @favorites.each do |favorite| %>
                  <li class="item thumb <%= favorite.blog.category.name.downcase %>">
                    <a href="<%= favorite.blog.url %>">
                      <figure>
                        <figcaption class="text-overlay">
                          <div class="info">
                            <h4><%= favorite.blog.title %></h4>
                            <p><%= favorite.blog.description %></p>
                          </div><!-- /.info -->
                        </figcaption>
                        
                        <img src="<%= favorite.blog.image_url %>" alt="">
                      </figure>
                    </a>
                  </li><!-- /.item -->
                <% end %>
                


              </ul><!-- /.items -->
              
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
    </main>

